.App{
  background-image: linear-gradient(to top,red,yellow);
  height: 730px;
}
.innerbox-app{
  text-align: center;
  margin: auto;
  padding-top: 250px;
}
.label{
  margin-right: 30px;
}
.bttn{
  margin-top: 20px;

}